.error {
  color: red;
  font-weight: bold;
}

.wait-indicator {
  position: absolute;
  margin-left: 5px;
  width: 20px;
}

body{
  background-image: radial-gradient(Orange 25%, yellow, Pink );
  font-family: 'Hanalei Fill', cursive;;
}

h1{
  font-size: 150px;
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
}

.wait-indicator {
  position: absolute;
  margin-left: 5px;
  width: 20px;
}

button {
 
  background-color: rgba(255, 251, 0, 0.986);
  border: none;
  font-size: 30px;
  margin:  30px;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  align-content: center;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width:250px;
}

.button{
  text-align: center;
  text-decoration: none;
    align-content: center;
    display: block;
    widows:60px;
}

.navbar{
  padding: 40px;
  widows:60px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: auto;
  
}

.navbar a {
  widows: 60px;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 20px;
}


