body{
  background-image: radial-gradient(Orange 25%, yellow, Pink );
}

h1{
  font-size: 150px;
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
}

.wait-indicator {
  position: absolute;
  margin-left: 5px;
  width: 20px;
}

button {
  
  background-color: rgba(255, 251, 0, 0.986);
  border: none;
  font-size: 30px;
  margin: 0px auto;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
    align-content: center;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width:250px;
}

.button{
  text-align: center;
  text-decoration: none;
    align-content: center;
}